@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  -webkit-box-shadow: 5px 5px 80px -18px rgba(127, 132, 135, 1);
  -moz-box-shadow: 5px 5px 80px -18px rgba(127, 132, 135, 1);
  box-shadow: 5px 5px 80px -18px rgba(127, 132, 135, 1);
}
